body {
    font-family: 'Varela Round', sans-serif;
    font-size:14px;
    font-weight:lighter;
    overflow-x:hidden;
}

/* epic colors for specific members */
 .chat-msg-JohnRG123 .userlist_owner {
    font-weight: 400!important;
    background-color: #66ccff;
    background-image: url(https://cdn.discordapp.com/attachments/915490680468561990/947608302202789958/trig.gif)!important;
    border-radius: 6px;
    padding-left: 3px;
    border: 2px solid #66ccff!important;
    color: #ffffff!important;
    text-shadow: 1px 0 10px #000000;
}

.chat-msg-MrDestructoidCyDJ .userlist_owner {
    color: #eb47d0!important;
    text-shadow: 1px 0 10px #2e576b;
}

.chat-msg-IP0G .userlist_owner {
    color: #00FFFF!important;
    text-shadow: 2px 0 10px #00FFFF;
}

.chat-msg-spintto .userlist_owner {
    color: #01FFFF!important;
    text-shadow: 1px 0 10px #01FFFF;
}

.chat-msg-Zombsiee .userlist_owner {
    color: #ffd966!important;
    text-shadow: 0px 0px 10px rgb(255 217 102)!important;
}

.chat-msg-jensai2 .userlist_op {
    color: #ACABF8!important;
    text-shadow: 1px 0 10px #ACABF8;
}

.chat-msg-ItMePeachy .userlist_op {
    color: #ffbcf1!important;
    text-shadow: 1px 0 10px #ffbcf1;
}

.userlist_op {
    color: #79d61d!important;
}

.userlist_owner {
    color: #eb8c47!important;
}

.userlist-MrDestructoidCyCJ {
    color: #d13b3b!important;
}

span:not(.userlist_op):not(.userlist_owner) > strong.username {
  color: #0087c9;
}

div.userlist_item > span:not(.userlist_op):not(.userlist_owner) {
  color: #0087c9;
}
.action {
    font-style: italic;
    color: #fe66ab;
    text-shadow: 0px 0px 8px #fe66ab, 0px 0px 8px #fe66ab !important;
}

.dark-theme > .odd-message {
  background-color: #141f1b;
}
  
.dark-theme > .even-message {
  background-color: rgba(0, 0, 0, 0.15);
}
  
.light-theme > .odd-message {
  background-color: #ffffff;
}
  
.light-theme > .even-message {
  background-color: #f5f5f5;
}
